.container-fluid.np
    .col-xs-12.col-sm-6.np
        .panel.panel-primary
            .panel-heading 
                %span
                    %b Vignette 5: 
                    FlexBox and Color Swatches
                = link_to root_path, class:"btn btn-xs btn-primary pull-left" do
                    %span.glyphicon.glyphicon-chevron-left
                
            .panel-body
                %ul.list-group
                    %li.list-group-item 
                        = link_to v5_swatches_path do
                            Swatches
                            %span.pull-right.glyphicon.glyphicon-chevron-right
                    %li.list-group-item 
                        = link_to v5_a_path do
                            Flexbox Layout A
                            %span.pull-right.glyphicon.glyphicon-chevron-right
                    %li.list-group-item 
                        = link_to v5_b_path do
                            Flexbox Layout B
                            %span.pull-right.glyphicon.glyphicon-chevron-right
                    %li.list-group-item 
                        = link_to v5_c_path do
                            Flexbox Layout C
                            %span.pull-right.glyphicon.glyphicon-chevron-right
                    %li.list-group-item 
                        = link_to v5_d_path do
                            Flexbox Layout D
                            %span.pull-right.glyphicon.glyphicon-chevron-right
                    %li.list-group-item 
                        = link_to v5_e_path do
                            Flexbox Layout E
                            %span.pull-right.glyphicon.glyphicon-chevron-right
                    %li.list-group-item 
                        = link_to v5_f_path do
                            Flexbox Layout F
                            %span.pull-right.glyphicon.glyphicon-chevron-right
                    %li.list-group-item 
                        = link_to v5_g_path do
                            Flexbox Layout G
                            %span.pull-right.glyphicon.glyphicon-chevron-right
                    %li.list-group-item 
                        = link_to v5_h_path do
                            Flexbox Layout H
                            %span.pull-right.glyphicon.glyphicon-chevron-right
                   
                   
                    
            .panel-footer
                CS160 - Intro to UI Design and Development
   