.container-fluid.np
    .col-xs-12.col-sm-6.np
        .panel.panel-primary
            .panel-heading 
                %span
                    %b Vignette 5: 
                    HTML Box Model
                = link_to root_path, class:"btn btn-xs btn-primary pull-left" do
                    %span.glyphicon.glyphicon-chevron-left
                
            .panel-body
                %ul.list-group
                    %li.list-group-item 
                        = link_to v6_a_path do
                            BoxModel Layout A
                            %span.pull-right.glyphicon.glyphicon-chevron-right
                    %li.list-group-item 
                        = link_to v6_b_path do
                            BoxModel Layout B
                            %span.pull-right.glyphicon.glyphicon-chevron-right
                    %li.list-group-item 
                        = link_to v6_c_path do
                            BoxModel Layout C
                            %span.pull-right.glyphicon.glyphicon-chevron-right
                    %li.list-group-item 
                        = link_to v6_d_path do
                            BoxModel Layout D
                            %span.pull-right.glyphicon.glyphicon-chevron-right
                    %li.list-group-item 
                        = link_to v6_e_path do
                            BoxModel Layout E
                            %span.pull-right.glyphicon.glyphicon-chevron-right
                    %li.list-group-item 
                        = link_to v6_f_path do
                            BoxModel Layout F
                            %span.pull-right.glyphicon.glyphicon-chevron-right
                    
                   
                    
            .panel-footer
                CS160 - Intro to UI Design and Development
   