.container-fluid.np
    .col-xs-12.col-sm-6.np
        .panel.panel-primary
            .panel-heading 
                %b
                    Final Project - Group 8
            .panel-body
                %ul.list-group
                    %li.list-group-item 
                        = link_to main_home_path do
                            Home
                            %span.pull-right.glyphicon.glyphicon-chevron-right
                    %li.list-group-item 
                        = link_to main_alertuser_path do
                            Alerting User
                            %span.pull-right.glyphicon.glyphicon-chevron-right
                    %li.list-group-item 
                        = link_to main_gallery_path do
                            Gallery
                            %span.pull-right.glyphicon.glyphicon-chevron-right
                    %li.list-group-item 
                        = link_to main_recording_path do
                            Recording
                            %span.pull-right.glyphicon.glyphicon-chevron-right
                    %li.list-group-item 
                        = link_to main_saved_path do
                            Saved
                            %span.pull-right.glyphicon.glyphicon-chevron-right
                    %li.list-group-item 
                        = link_to main_extrascreen_path do
                            extrascreen
                            %span.pull-right.glyphicon.glyphicon-chevron-right
            // .panel-footer
            //     CS160 - Intro to UI Design and Development
   